body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}
.owl-carousel {
  max-width: 800px;
}
.owl-item{
  width: 200px !important;
}
.owl-wrapper{
  width: 3200px !important;
}
.owl-carousel .item {
  background: #4DC7A0;
  padding: 40px;
  border-radius: 3px;
  text-align: center;
  color: white;
  margin: 5px;
  height: 300px; /* Yüksekliği azaltıldı */
}
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  display: inline; /* IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50); /* IE7 fix */
  opacity: 0.5;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -45px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -45px;
}